.App {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr;
  min-height: 100vh;

  header {
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
  }
  nav {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
  }
  main {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
  }

  header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 24px;
    border-bottom: 1px solid hsl(0, 0%, 80%);
    box-shadow: 0 1px 1px hsl(0, 0%, 70%);
    h1 {
      font-size: 30px;
      background: linear-gradient(to right, hsl(160, 60%, 50%), hsl(220, 60%, 50%));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  nav {
    padding: 24px;
    border-right: 1px solid hsl(0, 0%, 80%);
    text-decoration: underline;
    .component-link {
      margin-bottom: 16px;
    }
  }
  main {
    padding: 24px;
  }
}

.component-demo {
  h2 {
    margin-top: 0;
  }
  .component {
    border: 1px dashed hsl(0, 0%, 60%);
    display: inline-block;
  }
}

.api-documentation {
  td:nth-of-type(1), td:nth-of-type(2) {
    font-family: monospace;
  }
}
